.backgroundsketch {
    position: absolute;
    overflow: hidden;
	z-index: -1;
}

.foregroundsketch {
	overflow: hidden;
}

code {
    border-radius: 5px; 
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px; 
    border: 1px solid #BCBEC0;
    font:1.1rem Monaco,Consolas,"Andale  Mono","DejaVu Sans Mono",monospace;
    vertical-align: baseline;
    padding-left: 0.3em;
    padding-right: 0.3em;
}

pre {
    margin: 0.1em;
}

pre code {
    border: 0 solid #000;
    padding: 0.2em 1em;
}